body{
  background-color: #03A9F4;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
html { 
  background-color: #03A9F4;
  //background: url("../res/fordham.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.signature {
  font-family: 'Nothing You Could Do', cursive;
  background-color:#03A9F4;
  text-align: center;
  bottom: 0;
  height: 350px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.signature h1{
  font-size: 50px;
}

.center{
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color:#B3E5FC;

}
.profile ul {
  padding:0;
}
.profile li {
  display: inline;
  padding: 5px 5px 5px 5px;
  white-space: nowrap;  
}
.profile {

  text-align: center;
  height: 100px;
  margin: 0 auto;
}
.icon {
  height: 32px;
  width: 32px;
}
.face{
  height: 100px;
  width: 100px;

}
.links {
  display:none;
  text-align: center;
  padding-top: 20px;
}


.links a{
   box-shadow: 5px 5px 5px black;
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-style:solid;
  border-width:medium;
   background-color: rgba(0, 0, 0, 0.4);
    margin-top: 40px;
}
.links a:hover{
  text-decoration: none;


}
.links ul{
  padding: 0px;
}
.links li {
  display: inline-block;
      margin-top: 10px;
}

.button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}


.button a{
   box-shadow: 5px 5px 5px black;
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-style:solid;
  border-width:medium;
  background-color: rgba(0, 0, 0, 0.4);
}
.button a:hover{
  text-decoration: none;


}
.vector {
  height: 20px;
  width: 20px;
}
#Experience{
    display:none;
  padding-top: 10px;

}
#Experience h3, h6{
   font-family: 'Play', sans-serif;
   text-align: center;
}
#Experience img{
     box-shadow: 5px 5px 5px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#project{
      display:none;
  padding-top: 10px;

}
#project h3, h6{
  font-family: 'Play', sans-serif;
   text-align: center;
}
#project img{
   box-shadow: 5px 5px 5px black;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #E1F5FE;
  box-shadow: 5px 5px 5px black;
  padding-left: 20px;
  padding-right: 20px;
}
.text a{
  color: blue;
}
.text p {
  padding-bottom: 4px;
}
.text h3 {
  padding-top: 4px;
}
#top {
  visibility: hidden;
}
#contact{
    display:none;
  padding-top: 10px;

}
#contact h2, h3, h6{
   font-family: 'Play', sans-serif;
   text-align: center;
}
.ico {
 text-align: center;
  font-size: 50px;
}
.text2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #E1F5FE;
  box-shadow: 5px 5px 5px black;
  padding-left: 20px;
  padding-right: 20px;
}
.text2 a{
  color: black;
}
.info{
  display:none;
  padding-top: 370px;
   position: fixed;
  bottom: 0;
  height: 800px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  background:rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: 20;
}
.box {
  //height: 300px;
 background-color: #E1F5FE;
  box-shadow: 5px 5px 5px black;

}
.info h3{
 
  font-family: 'Open Sans', sans-serif;
}