body {
  background-color: #6699cc;
}
.center{
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color:white;
}
.profile li {
  display: inline;
}
.profile {

  text-align: center;
  height: 100px;
  margin: 0 auto;
}
.icon {
  height: 32px;
  width: 32px;
}
.face{
  height: 100px;
  width: 100px;

}
.links {
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
}


.links a{
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-style:solid;
  border-width:medium;
}
.links a:hover{
  text-decoration: none;


}
